
@mixitDarkGrey : #7F7F7F;
@mixitLightGrey : #F8F8F8;

body {
  padding-top: 70px;
}

.sharedLink img {
  height: 24px;
  width: 24px;
  margin-right: 3px;
  vertical-align: middle;
}

hr.featurette-divider {
  margin-top: 3em;
  margin-bottom: 3em;
}

.navbar-default {
  .navbar-nav  {
    > li > a {
      color : @mixitLightGrey;
    }

    > .open > a, > .open > a:focus {
      background-color: @mixitDarkGrey;
    }
  }

  background-color: @mixitDarkGrey;
}
